html {
    scroll-behavior: smooth;
}

/* Animaciones */
* {
    animation: appear 0.3s ease-in-out;
}

#mobileMenu,
#mobileMenu *{
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu > * {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed > *{
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

.logo--nav {
    width: 144px;
    height: 74px;
}

.marcas img{
    width: 20%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #096134;
    border-color: #096134;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  
.input--white label{
    color: #000;
    font-weight: bold;
    margin-bottom: 16px;
}

.input--white input, 
.input--white textarea{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    transition: all 0.5s ease-in-out;
}

.input--white input:focus,
.input--white textarea:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}

.input--lightGrey label{
    color: #000;
    font-weight: bold;
    margin-bottom: 16px;
}

.input--lightGrey input, 
.input--lightGrey textarea{
    background-color: var(--light-green);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    transition: all 0.5s ease-in-out;
}

.input--lightGrey input:focus,
.input--lightGrey textarea:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}

.minh--100vh {
    min-height: calc(100vh - 220px);
}

@media (max-width: 1024px) {

    .sobreponerForm img{
        display: none;
    }
    .sobreponerForm div{
        position: relative !important;
        top: 0%;
        left: 0% !important;
    }

}

@media (max-width: 990px) {

}

@media (max-width: 767px) {

}

@media (max-width: 520px) {

}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}